<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
	<h2>Login Form</h2>
	<form id="login-form">
		<div id="bad-credentials-error" class="error-message"></div>
		<label for="username">Username:</label>
		<input type="text" id="username" name="username"><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>
		<input type="button" value="Login" onclick="loginUser()">
	</form>

    <script src="/static/js/login.js"></script>
</body>
</html>
