<!DOCTYPE html>
<html>
  <head>
    <title>Profile Page {{ .UserId }}</title>
    <script src="/static/js/profile.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
  </head>
  <body onload="getUserData()">
    <h1>Welcome to Your Profile Page!</h1>
    <form id="profile-form">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="expiration">Expiration:</label>
      <input type="number" id="expiration" name="expiration"><br><br>
      <input type="button" value="Save" onclick="updateUser()">
    </form>
  <br>
  <div class="button-container">
		<a href="/meals/basic-advice"><button class="button">Get Basic Advice</button></a>
	</div>
  <br>
  <div class="button-container">
		<a href="/meals"><button class="button">Go to All Meals</button></a>
	</div>
  </body>
</html>
