<!DOCTYPE html>
<html>

<head>
    <title>Registration Form</title>
</head>

<body>
    <h1>Registration Form</h1>
    <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>

        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password"><br><br>

        <label for="expiration">Expiration:</label>
        <input type="number" id="expiration" name="expiration"><br><br>

        <input type="button" value="Submit" onclick="registerUser()">
    </form>

    <script src="static/js/register.js"></script>
</body>
</html>